body {
  margin: 0;
  background: #FFF;
  font-family: sans-serif;
  background: #F8F8F8;
}

core-toolbar {
  background-color: #FFF;
  height: 80px;
}

.content {
  margin-top: 20px;
}

label {
  font-size: 10px;
  padding: 6px 16px 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #BBB;
  display: block;
}

.meta-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #FFF;
  border: 1px solid #e6e6e6;
}

.meta-list__item {
  margin: 0;
  padding: 10px 16px;
  border-top: 1px solid #e6e6e6;
}

.meta-list__item:first-child {
  border: none;
}

.meta-list__item--alert {
  color: #d72b38;
}